
#top {
    width: 100%;
    height: 270px;
}
.left {
    width: 30%;
    height: 600px;
    float: left;
    margin-left: 0px;
}
.right {
    width: 70%;
    height: 500px;
    float: right;
    /* background-color: red; */
}

.divlb {
            width: 70%;
            height: 500px;
            margin: 20px auto 0px;
            position: relative;
            /*background-color: #ffcccc;*/
        }

        .numOks {
            position: absolute;
            left: 0px;
            right: 0px;
            height: 25px;
            width: 200px;
            left: 40%;
            bottom: 10px;
            float: left;
        }


ul li{
    list-style-type:none;
}

a {
    color: #737373;
    text-decoration: none;

    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
a:hover{
	text-decoration: underline;
	color: #fa3067;
}
form {
    display: block;
    margin-top: 0em;
}
/* body {
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: #737373;
    background-color: #ffffff;
} */
.r{
    float: right;
}

.d{
    width: 1200px;
    max-width: none !important;
    padding-right: 0;
    padding-left: 0;
}

.dd {
    font-size: 12px;
    min-width: 1200px;
    height: 35px;
    border-bottom: 1px solid #e6e6e6;
    background-color: #f2f2f2;

}
.img{
	margin-top: 30px;
	margin-left: 40px;
}
.search {
    float: right;
    width: 600px;
    margin-top: -60px;
    margin-right: 0px;
}
.help-block {
    display: block;
    margin-top: 5px;

    margin-bottom: 10px;
    color: #b3b3b3;
}

.n{
    margin-left: 80px;
}
.r{
    border-bottom: 1px solid #e9e9e9;
}
.dropdown-cate {
    position: absolute;
    z-index: 999;
    top: 40px;
    left: 0;
    width: 230px;
}