.top {
    width: 100%;
    height: 200px;
    /*background-color: orange;*/

}
ul li{
    list-style-type:none;
}
a {
    color: #fff;
    background-color: transparent;
    text-decoration: none;

    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;


}
.nav > li > a {
    font-weight: bold;
    padding: 9px 24px;
}

/* .b {
	float: right;
    width: 800px;
    margin-top: -60px;
    margin-right:-100px;
    
} */
.img{
	margin-top: 10px;
	margin-left: 40px;
}
.search {
    float: right;
    width: 600px;
    margin-top: -65px;
    margin-right: 0px;
}
#bb{
	width: 60%;
	height: 600px;
	margin-left:240px;
	
}
#bbb{
	width: 30%;
	height: 300px;
	border: solid;
	
}
.a{
    height: 60px;
    margin-bottom: 10px;
    min-width: 1200px;
    background-color: #fe7a24;

    font-size: 12px;
    min-width: 100px;
    height: 35px;
    border-bottom: 1px solid #e6e6e6;
    /*background-color: #f2f2f2;*/
}
.i{
    float: left
}
.r{
    float: right;
}

.c{
    padding-right: 0;
    padding-left: 0;
}
.nav {
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', sans-serif;
    font-size: 15px;
    margin-top: 0 ;
    margin-left: 250px;
}
.d{
     /*margin: 0 0 8px;*/
     /*padding: 0 0 8px;*/
    /*border-bottom: 1px  #e9e9e9;*/
}